.shareButton{
    cursor: pointer;
}
.collapseDesktopWrapper{
    position: relative;
}
.collapseDesktop {
    transition: width;
    position: absolute;
    top: -28px;
}

.cardBodyPadding{
    padding: .8rem !important;
}