@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.videoWrapper{
    position:relative;
}

.fontSizeIcon{
    font-size: 7rem;
    @include media-breakpoint-up(lg){
        font-size: 8.5rem;
    }
}

.playPause{
    position: absolute;
    color: #EBF0F5;
    width:10.819375rem;
    height:10.819375rem;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
  
    cursor: pointer;

    &:hover{ 
        opacity: .6;
        color: #4EBCBC;
    }
}