@import "../../index.scss";
@import "../../variables";

.card {
  text-decoration: none;
  //padding-bottom: 4rem;
  //padding-right:4rem;
  margin: 0.25rem 0.25rem;
  min-height: 60px;

  .card-icon {
    width: 5rem;
  }

  h1, h2, h3, h4, h5 {
    margin: 0; padding: 0;
    align-self: flex-end;
  }
}

.benefitTitle {
  padding-bottom: 4rem;
}

.tile_description {
  margin: 0.25rem 0.25rem;
  padding-top: 1rem;
  text-decoration: none;
  position: relative;
  word-wrap: break-word;
}

.fal {
  font-size: 4rem;
  margin-top: -10px;
  margin-right: 20px;
  @include color-8;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-end;

  @media screen and (-ms-high-contrast: none),
    screen and (-ms-high-contrast: active) {
    // Internet explorer 11 fixes
    color: $color-6 !important;
    background: none !important;
  }


}
