@import "../../index.scss";
@import "../../variables";

.cloudTypes-header {
  margin-bottom: 40px;
}

.cloudTypes-tile {
  display: flex;
  flex-wrap: wrap;
  min-height: 312px;
  padding: 0;
  padding-bottom: 27px;
}

.cloudTypes-tile-alt {
  display: flex;
  flex-wrap: wrap;
  min-height: 312px;
  padding: 0;
}

// Default icon styling.
.icon {
  vertical-align: bottom;
  color: $color-2; 
}

.tile-content {
  width: calc(50% - 15px);
  order: 2;
  flex-wrap: wrap;
}

.tile-content-alt {
  width: calc(50% - 15px);
  order: 1;
  flex-wrap: wrap;
}

.header {
  position: relative;
  // remove for mobile
  @media screen and (min-width: 764px) {
    margin-bottom: 10px; 
  }
  width: 100%;
  color: $color-3;
}

.tile-img {
  width: calc(50% - 15px);
  max-height: 200px;
  margin-left: 30px;
  order: 1;
  margin: 0 30px 0 0;
}
.tile-img-alt {
  width: calc(50% - 15px);
  max-height: 200px;
  margin-left: 30px;
  order: 2;
}

.img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.solutionTitle {
  color: rgb(35, 135, 169);
  font-size: 1.08rem;
}

.width{
  @media screen and (min-width: 1024px) {
    width:75%!important;
  }
  @media screen and (min-width: 764px) and (max-width: 1023px) {
    margin-left:-15px !important;
  }
  .tablet{
    @media screen and (min-width: 764px) and (max-width: 1023px) {
      display:block;
    }
    @media screen and (min-width: 1024px) {
      display:none;
    }
  }
  .desktop{
    @media screen and (min-width: 764px) and (max-width: 1023px) {
      display:none;
    }
    @media screen and (min-width: 1024px) {
      display:block;
    }
  }
}