@import "src/variables";

.header {
  position: relative;
  //height: 75vh; // height of the video
  height: 425px;
  //min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}

.green-overlay-background {
  /* background: #50bebe; */
  // background: linear-gradient(90deg,#50bebe 0,#41aaaa 50%,#0099cb);
  color: #fff !important;
  white-space: normal !important;
  padding-top: 20px;
  padding-bottom: 7px;
  z-index: 2;
}

.secondary-text {
  color: $color-11;
}

.spnHeading {
  font-size: 2.6875rem;
}

.btn {
  background: linear-gradient(90deg, rgba(254, 182, 1, 0.85) 0%, rgba(237, 127, 7, 0.85) 100%);
  color: #fff;
  font-size: 25px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background: $color-9;
}

.flex-center {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 350px;
}

.flex-left {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: left;
  align-items: left;
  height: 425px;
  border: none;
}

.flex-right {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-content: right;
  align-items: right;
  height: 350px;
  border: none;
}

.flex-center-bottom {
  //background-color: #739FD0;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-top: -70px;
}

.flex-center-bottom-mobile {
  //background-color: #739FD0;
  color: #000;
  position: absolute;
  margin-top: -60px;
  margin-left: 11px;
  @media (max-width: 767px) and (min-width: 425px) {
    margin-left: 117px;
  }
  @media (max-width: 424px) and (min-width: 375px) {
    margin-left: 70px;
  }
}

.flex-item-center {
  //border: solid 2px #4675AA;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  position: relative;
  z-index: 3;
}

.flex-item-center-mobile {
  //border: solid 2px #4675AA;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  padding-right: 10px;
  position: relative;
  z-index: 3;
}

.flex-item-left {
  border: solid 2px #4675aa;
  order: 0;
  flex: 0 1 auto;
  align-self: left;
}

.flex-item-right {
  border: solid 2px #4675aa;
  order: 0;
  flex: 0 1 auto;
  align-self: left;
}

.flex-item-bottom {
  //border: solid 2px #4675AA;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
}

.flex-item-top {
  //border: solid 2px #4675AA;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-start;
  line-height: 41px;
  @media (max-width: 767px) and (min-width: 425px) {
    width: 100%;
  }
  @media (max-width: 424px) and (min-width: 320px) {
    width: 100%;
  }
}

.mobile-only {
  @media (min-width: 768px) {
    display: none;
  }
}
.desktop-only {
  @media (max-width: 767px) {
    display: none;
  }
}
