@import "src/variables";

.journeyTile{

  .border {
    border-bottom: 2px solid $color-2;
  }

  a:hover {
    color: inherit;
    strong {
      border-bottom: solid;
      border-color: $color-6;
    }
    p, h5 {
      color: $color-6;
    }
  }

  i {
    color: $color-2;
  }
}