@import '../../../_variables.scss';

.quote_font_size{
    font-size: 1.5rem;
}

.hashTagsLinksBorder{
    border-right-width: 1px;
    border-right-style: solid;
}

.companyBorder{
    border-bottom: 1px solid $color-5;
}