@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../index.scss";
@import "../../../variables";

// Slick Carousel SCSS
.slick-slider {
  padding-bottom: 1rem;

  p { 
    color: $color-5;
    padding: 0 25px;
    margin-top: 1.5rem; 
  }
  
  // Slick arrows (left & right)
  .slick-arrow {
    top: 20%;

    &.slick-prev, &.slick-next {
      z-index: 1000;

      // Set the arrow grey by default
      &:before { color: $color-6; font-size: 3rem; }

      // Set the arrow orange on hover
      &:hover:before { color: $color-11; }
    }

    // Slide the previous arrow to the left
    &.slick-prev {
      left: 25px;
      &:before { font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f053"; }
    }
    
    // Slide the next arrow to the right
    &.slick-next {
      right: 25px;
      &:before { font-family: "Font Awesome 5 Pro"; font-weight: 600; content: "\f054"; }
    }

    // Provide some space between the arrows and the carousel on desktop
    @include media-breakpoint-up(sm) { 
      &.slick-prev { left: 10px; }
      &.slick-next { right: 10px; }
    }

    // Provide some space between the arrows and the carousel on desktop
    @include media-breakpoint-up(lg) { 
      &.slick-prev { left: -25px; }
      &.slick-next { right: -25px; }
    }

    // Provide even more space 
    @media (min-width: 1400px) { 
      &.slick-prev { left: -40px; }
      &.slick-next { right: -40px; }
    }
  }
  
  // These classes can't be changeable via Slick React, so we must set them globally.
  :global {

    // Slides Panel
    .slick-list {
      
      // Individual slide
      .slick-slide {

        a {

          i { padding: 10px; }

          // Active and hover for slide icon and text
          &.active, &:hover {

            // Internet explorer 11 fixes
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              i.fal {
                color: $color-6 !important;
                background: none !important;
              }
            }

            i.fal {
              @include color-8;
              @include text-gradient;
            }
            
            p { color: $color-3; }
          }
        }
      }
    }

    // Indicator below slides
    .slick-dots {

      // Individual slide indicators
      li {
        width: 5%;
        border-top: 0.375rem solid $color-12;

        // Set the active border color
        &.slick-active { border-color: $color-6; }
        
        // Since the indicators are not click-able, leave the cursor
        &:hover { cursor: default; }

        // hide the button
        button {
          display: none;

          &:before {
            opacity: 1;
            color: black;
            font-size: 1rem;
            font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f86c";
          }
        }
      }
    }
  }
}