@import "src/variables";

.bottom_footer {
  font-size: 14px;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid $border-color;
  color: $color-5;
}

.bottom_footer a {
  color: $color-5;
}

.policy-box {
  position: relative;
}

.policy {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tou {
  padding-right: 12px;
}

.privacy {
  padding-right: 12px;
}

.cookie {
  white-space: nowrap;
  overflow: hidden;
}
