@import "src/variables";

.cards, .cards3, .cards4, .cards5, .cards6, .cards7, .cards8, .cards9 {
  margin-bottom: 3rem;
}

.cards > a {
  float: left;
}

@media (min-width: 54rem) {
  .cards, .cards7, .cards8, .cards9 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card card" "card card card" "card card card";
  }
  .cards4, .cards5, .cards6 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card card" "card card card";
  }
  .cards3 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card card";
  }
}

@media (max-width: 54rem) and (min-width: 36rem) {
  .cards, .cards9 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card" "card card" "card card" "card card" "card card";
  }
  .cards7, .cards8 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card" "card card" "card card" "card card";
  }
  .cards5, .cards6 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card" "card card" "card card";
  }
  .cards3, .cards4 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "card card" "card card";
  }
}

@media (max-width: 36rem) {
  .cards, .cards3, .cards4, .cards5, .cards6, .cards7, .cards8, .cards9 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas: "card" "card" "card" "card" "card" "card" "card" "card" "card";
  }
}

.cards_title {
  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 36rem) {
  .cards_subtitle {
    font-size: 20px;
  }
}
.cards_subtitle {
  padding-bottom: 30px;
}

.cardComposed {
  border: 1px solid #ededed;
  margin: 0.25rem 0.25rem;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  border-radius: 5px;
}

.cardComposed:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ededed; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ededed;
  box-shadow: 3px 3px 5px 6px #ededed;
  text-decoration: none;
}

.card {
  composes: cardComposed;
}

.card .fal {
  font-size: 2rem;
  margin-top: -10px;
  margin-right: 20px;
  color: $color-2;
}

.card .desc {
  padding-bottom: 15px;
}

.border_bottom2_color2 {
  border-bottom: 2px solid $color-2;
}

@media (min-width: 36rem) {
  .card .desc_title {
    font-size: 1.866rem;
  }
}
@media (max-width: 36rem) {
  .card .desc_title {
    font-size: 20px;
  }
}

.card .desc_title {
  color: $color-3;
  margin-top: 0px;
  margin-bottom: 1rem;
  font-family: SiemensBold;
  font-variant-ligatures: none;
  letter-spacing: -0.03em;
}

.card .desc_detail {
  color: $color-3;
  font-size: 1.08rem;
  line-height: 25px;
  margin: 0px 0px 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card .desc_linkicon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.75rem 0.25rem 0.75rem 0.25rem;
  height: 1rem;
}
