.card_r1c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
}

.card_r1c2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
}

.card_r1c3 {
  grid-column: 3;
  -ms-grid-column: 3;
  grid-row: 1;
  -ms-grid-row: 1;
}

.card_r2c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 2;
  -ms-grid-row: 2;
}

.card_r2c2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 2;
  -ms-grid-row: 2;
}

.card_r2c3 {
  grid-column: 3;
  -ms-grid-column: 3;
  grid-row: 2;
  -ms-grid-row: 2;
}

.card_r3c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 3;
  -ms-grid-row: 3;
}

.card_r3c2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 3;
  -ms-grid-row: 3;
}

.card_r3c3 {
  grid-column: 3;
  -ms-grid-column: 3;
  grid-row: 3;
  -ms-grid-row: 3;
}

.card_r4c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 4;
  -ms-grid-row: 4;
}

.card_r4c2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 4;
  -ms-grid-row: 4;
}

.card_r5c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 5;
  -ms-grid-row: 5;
}

.card_r5c2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 5;
  -ms-grid-row: 5;
}

.card_r6c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 6;
  -ms-grid-row: 6;
}

.card_r7c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 7;
  -ms-grid-row: 7;
}

.card_r8c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 8;
  -ms-grid-row: 8;
}

.card_r9c1 {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 9;
  -ms-grid-row: 9;
}
