@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.cloudSolutionImg {
  position: relative;
  background: url(./img/cloudSolutionHeroImg.jpg) no-repeat 0 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
}

.cloudSolutionOverLay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: -ms-flexbox;
  -ms-flex-align: center;
}
