// Bootstrap variables and mixins include
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

// Custom SCSS variables
@import '../../_variables.scss';
@import '../../index.scss';

// Width of the borders in the navigation
$navigation-border-width: 1px;

// Width & height of the toggler (mobile only)
$navbar-toggler-wh: 30px;

.navbar {
  padding: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: $navigation-border-width solid $border-color;
  
  @include media-breakpoint-down(sm) { padding: 1.25rem; }

  // Default icon styling.
  i { vertical-align: bottom; }

  // Mobile navigation toggler.
  .navbar-toggler {
    padding: 0;
    outline: none;
    border-radius: 0; border: 0;

    // Fixed width (30x30)
    width: $navbar-toggler-wh; height: $navbar-toggler-wh;

    i { color: #fff; }
  }

  // DISW navigation title (floated to the right)
  .site-title {
    color: $color-5;
    font-family: SiemensBold;
    font-weight: 600; font-size: 1.25rem; 
    padding-bottom: 0.3125rem;

    @include media-breakpoint-down(lg) {
      font-size: 1.0rem;
    }
  }

  // Logo Container
  .navbar-brand {
    width: 175px;
    display: inherit;
    margin-right: 0;
    padding-bottom: 0.625rem;
    
    // Phones and small tablets - remove padding.
    @include media-breakpoint-down(sm) { padding: 0 0 0 0; }

    // Image has fixed width and height (should not scale)
    img { height: 20px; width: 122px; }
  }

  // Navigation bar (including drop-downs)
  .navbar-nav {
    margin-top: 0.9375rem;
    @include media-breakpoint-up(md) { margin-left: 0; }

    // Individual item in the drop-down navigation
    .nav-item {

      // Navigation top-level links
      a {
        font-size: $font-size-body;

        &.active {
          span {
            padding: 0 0 0.375rem 0;

            @include media-breakpoint-up(md) { 
              border-bottom: 2px solid $color-2;
            }
          }
        }
        
        &.nav-link {
          color: $color-4;
          margin: 0 1.5rem 0.625rem 0px;

          // Tablet and up - reset margins.
          @include media-breakpoint-up(md) { margin: 0 0 1.25rem 0.9375rem; }

          // Active and hover states for the navigation items
          &:hover { color: $color-2; }
          &.active { color: $color-2; }
        }
      }

      // Drop-down menus
      &.dropdown {
        
        // Drop-down toggle arrow
        .dropdown-toggle { 
          &::after { display: none; } 
        }

        // Full-width drop-down
        .dropdown-menu {
          margin: 0; padding: 0;
          background-clip: 0;
          border-radius: 0;
          border-bottom: $navigation-border-width solid $border-color;
          border-top: $navigation-border-width solid $border-color;
          border-left: 0; border-right: 0;

          // On mobile, shrink the padding and remove the borders.
          @include media-breakpoint-down(sm) { 
            padding: 0px 0.5rem 1.25rem 0px;
            border: 0;
          }

          // Left-pane drop-down
          .dropdown-panel {
            border-right: $navigation-border-width solid $border-color;

            // Remove the broders on mobile
            @include media-breakpoint-down(sm) { border-left: 0; border-right: 0; }

            &.panel-right {
              border: 0;
              padding-top: 1.75rem; padding-bottom: 1.25rem;
            }

            // Left-pane list
            ul {
              padding: 1.25rem 0;
              a { color: inherit; text-decoration: none; }

              // Tablet & mobile, add some padding left.
              @include media-breakpoint-down(sm) { padding: 0 0 0 0.75rem; }

              // Left-pane list elements
              li {
                list-style: none;
                padding: 0.5rem 0;

                // Large tablets and up, add some left padding to the list element in the drop-down
                @include media-breakpoint-up(md) { padding-left: 0.75rem; }

                // Add some padding for lists on mobile
                @include media-breakpoint-down(sm) { padding-bottom: 0.625rem; }

                &:hover {
                  background-color: $color-1;
                  @include media-breakpoint-down(sm) { background-color: inherit; }
                }
              }
            }
          }
        }
      }
    }
  }
}