@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "src/variables";

.bgcolor {
  padding-bottom: 60px;
  padding-top: 60px;
}
.faColor {
  color: $color-11;
}
.bodyText {
  line-height: 25px;
  font-weight: 600;
}
.bottomBorder {
  border-bottom: 1px solid $color-5;
  margin-left: auto;
  @include media-breakpoint-up(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.col-sm-9 {
  @include media-breakpoint-down(sm) {
    padding-left: 36px;
    padding-right: 5px;
  }
  @media screen and (min-width: 760px) {
    padding-left: 36px;
    padding-right: 5px;
  }
}
.pb {
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .containerRelatedLinks {
    //max-width: 960px;
  }
}
.alignIcon {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}
