// Common SCSS variables

$font-size-h1: 2.6875rem; // 43px
$font-size-h2: 2.2394rem; // 35.83px
$font-size-h3: 1.8663rem; // 29.86px
$font-size-h4: 1.555rem; // 24.88px
$font-size-h5: 1.2963rem; // 20.74px
$font-size-body: 1.08rem; // 17.28px
$font-size-body-sm: 0.9rem; // 14.40px

$border-color: #d8d8d8;

$color-1: #eef7fd;
$color-2: #2387a9;
$color-3: #2b353a;
$color-4: #2d373c;
$color-5: #a5afb4;
$color-6: #ed7f07;
$color-7: #4ebcbc;
$color-8: linear-gradient(90deg, rgba(254, 182, 1, 1) 0%, rgba(237, 127, 7, 1) 100%);
$color-9: linear-gradient(90deg, rgba(247, 142, 0, 1) 0%, rgba(237, 101, 0, 1) 100%);
$color-10: linear-gradient(90deg, rgba(78, 188, 188, 1) 0%, rgba(5, 153, 201, 1) 100%);
$color-11: #feb601;
$color-12: #ededed;

@font-face {
  font-family: SiemensBlack;
  src: url("/fonts/SiemensSans-Black.woff2") format("woff2"), url("/fonts/SiemensSans-Black.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-family: SiemensBlackItalic;
  src: url("/fonts/SiemensSans-BlackItalic.woff2") format("woff2"),
    url("/fonts/SiemensSans-BlackItalic.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: SiemensBold;
  src: url("/fonts/SiemensSans-Bold.woff2") format("woff2"), url("/fonts/SiemensSans-Bold.woff") format("woff");
}

@font-face {
  font-family: SiemensBoldItalic;
  src: url("/fonts/SiemensSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: SiemensItalic;
  src: url("/fonts/SiemensSans-Italic.woff2") format("woff2"), url("/fonts/SiemensSans-Italic.woff") format("woff");
}

@font-face {
  font-family: SiemensRoman;
  src: url("/fonts/SiemensSans-Roman.woff2") format("woff2"), url("/fonts/SiemensSans-Roman.woff") format("woff");
}

@font-face {
  font-family: SiemensSerifBold;
  src: url("/fonts/SiemensSerif-Bold.woff2") format("woff2"), url("/fonts/SiemensSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: SiemensSerifItalic;
  src: url("/fonts/SiemensSerif-Italic.woff2") format("woff2"), url("/fonts/SiemensSerif-Italic.woff") format("woff");
}
