@import '_variables.scss';

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

html{
  @include media-breakpoint-only(xs) { font-size: 14px;  }
  @include media-breakpoint-only(sm) { font-size: 14px; }
  @include media-breakpoint-only(md) { font-size: 14px; }
  @include media-breakpoint-only(lg) { font-size: 16px; }
  @include media-breakpoint-only(xl) { font-size: 16px; }
}

html body {
  font-family: SiemensRoman;
  font-size: $font-size-body;

  // Global header (h1-h5) font sizes
  h1 { font-size: $font-size-h1; }
  h2 { font-size: $font-size-h2; }
  h3 { font-size: $font-size-h3; }
  h4 { font-size: $font-size-h4; }
  h5 { font-size: $font-size-h5; }
  p { font-size: $font-size-body; }

  .text-small {font-size: $font-size-body-sm;}

  a {
    color: $color-3;
    text-decoration: none;
  }

  a:hover {
    color: $color-2;
    text-decoration: none;
  }
}



.color-1  { color: $color-1;  }
.color-2  { color: $color-2;  }
.color-3  { color: $color-3;  }
.color-4  { color: $color-4;  }
.color-5  { color: $color-5;  }
.color-6  { color: $color-6;  }
.color-7  { color: $color-7;  }
.color-8  { color: $color-8;  }
.color-9  { color: $color-9;  }
.color-10 { color: $color-10; }
.color-11 { color: $color-11; }

.background-color-1  { background-color: $color-1; }
.background-color-2  { background-color: $color-2; }
.background-color-3  { background-color: $color-3; }
.background-color-4  { background-color: $color-4; }
.background-color-5  { background-color: $color-5; }
.background-color-6  { background-color: $color-6; }
.background-color-7  { background-color: $color-7; }
.background-color-8  { background-color: $color-8; }
.background-color-9  { background-color: $color-9; }
.background-color-10 { background-color: $color-10; }
.background-color-11 { background-color: $color-11; }

@mixin color-8 {
  background: $color-8;
  background: -moz-linear-gradient(90deg, rgba(254,182,1,1) 0%, rgba(237,127,7,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(254,182,1,1) 0%, rgba(237,127,7,1) 100%);
}

@mixin color-9 {
  background: $color-9;
  background: -moz-linear-gradient(90deg, rgba(247,142,0,1) 0%, rgba(237,101,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(247,142,0,1) 0%, rgba(237,101,0,1) 100%);
}

@mixin text-gradient { 
  display: block;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}


[class*="bg-color-"] {
  &.bg-color-8 {
    @include color-8;
  }

  &.bg-color-9 {
    @include color-9;
  }
  
  &.text-gradient {
    @include text-gradient;
  }
}

.btn-gradient-orange{
  color: #fff;
  background: $color-8;

  &:hover{
    color: #fff;
    background: $color-9;
  }

}

.border-light-orange{
  border-color: $color-11;
}

.text-dark-orange{
  color: $color-6;
}

// Background overlay when navigation is expanded. The element is inside App.jsx.
#bg-overlay {
  opacity: 0;
  z-index: 99;
  top: 0; left: 0;
  width: 100%; height: 0;
  overflow: hidden;
  position: absolute;
  background: rgba(74,74,74,.7);
  -webkit-transition: opacity .2s ease-in-out .1s;
  transition: opacity .2s ease-in-out .1s;
}

.fontSize_1_0625 {
  font-size: 1.0625rem;
}

.fontSize_1_08 {
  font-size: 1.08rem;
}

.fontSize_1_87 {
  font-size: 1.87rem;
}

.fontSize_1_3 {
  font-size: 1.3rem;
}

.w_10 {
  width: 10%;
}

.w_20rem {
  width: 20rem;
}

.color_ffb903 {
  color: #ffb903;
}

.color_2387a9 {
  color: #2387a9;
}
